.gsearch--toolbar {
    border: 2px solid var(--interactive);
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.24) 0px 7px 20px 0px;
    border-radius: var(--border-radius-md);
    outline: 3px solid rgb(from var(--background-brand) r g b / 35%);
}

.gsearch--field {
    display: flex;
    align-items: center;
    gap: 3px;
}
.gsearch--search-magnifier {}
.gsearch--field-addon__icon {
    color: var(--interactive);
}
.gsearch--field__input {
    background-color: transparent;
    &:hover { background-color: transparent; }
}

.gsearch--field-addon {}

.gsearch--interaction-helper {
    background-color: var(--primary-20);
}
.gsearch--interaction-navigate {}
.gsearch--interaction-close {}

.gsearch--results {
    overflow: hidden;
    box-shadow: rgb(100 100 111 / 24%) 0px 7px 20px 0px;
    border-radius: var(--border-radius-md);
}

.gsearch--results-common__icon {
    padding: 6px;
    background-color: var(--layer);
    border-radius: 4px;
    border: 1px solid var(--border-subtle);
}