{#
  Variables
    - searchValue
    - items
    - totalItems
    - page
    - limit
    - tmpl
    - permissions
    - model
    - security
#}
{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}

{% block mauticContent %}mobile_notification{% endblock %}

{% block headerTitle %}{{ 'mautic.notification.mobile_notifications'|trans }}{% endblock %}

{% block content %}
  {% if isIndex %}
    <div id="page-list-wrapper" class="panel panel-default">
      {{ include('@MauticCore/Helper/list_toolbar.html.twig', {
        'searchValue': searchValue,
        'searchId': 'mobile-notification-search',
        'action': currentRoute,
        'list_actions': include('@MauticCore/Helper/toolbar_page_actions.html.twig', {
            'templateButtons': {
                'new': permissions['notification:mobile_notifications:create'],
            },
            'routeBase': 'mobile_notification',
        }),
        'quickFilters': [
            {
                'search': 'mautic.core.searchcommand.ispublished',
                'label': 'mautic.core.form.available',
                'tooltip': 'mautic.core.searchcommand.ispublished.description',
                'icon': 'ri-check-line'
            },
            {
                'search': 'mautic.core.searchcommand.isunpublished',
                'label': 'mautic.core.form.unavailable',
                'tooltip': 'mautic.core.searchcommand.isunpublished.description',
                'icon': 'ri-close-line'
            },
            {
                'search': 'mautic.core.searchcommand.isuncategorized',
                'label': 'mautic.core.form.uncategorized',
                'tooltip': 'mautic.core.searchcommand.isuncategorized.description',
                'icon': 'ri-folder-unknow-line'
            },
            {
                'search': 'mautic.core.searchcommand.ismine',
                'label': 'mautic.core.searchcommand.ismine.label',
                'tooltip': 'mautic.core.searchcommand.ismine.description',
                'icon': 'ri-user-line'
            }
        ]
    }) }}
    <div class="page-list">
  {% endif %}

  {{ include('@MauticNotification/MobileNotification/_list.html.twig') }}

  {% if isIndex %}
        </div>
    </div>
  {% endif %}
{% endblock %}
