{#
  Variables
    - searchValue
    - items
    - categories
    - page
    - limit
    - permissions
    - model
    - tmpl
    - security
#}
{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}

{% block mauticContent %}page{% endblock %}

{% block headerTitle %}{{ 'mautic.page.pages'|trans }}{% endblock %}

{% block content %}
  {% if isIndex %}
    <div id="page-list-wrapper" class="panel panel-default">
        {{ include('@MauticCore/Helper/list_toolbar.html.twig', {
            'searchValue': searchValue,
            'action': currentRoute,
            'list_actions': include('@MauticCore/Helper/toolbar_page_actions.html.twig', {
                'templateButtons': {
                    'new': permissions['page:pages:create'],
                },
                'routeBase': 'page',
            }),
            'quickFilters': [
                {
                    'search': 'mautic.core.searchcommand.ispublished',
                    'label': 'mautic.core.form.active',
                    'tooltip': 'mautic.core.searchcommand.ispublished.description',
                    'icon': 'ri-check-line'
                },
                {
                    'search': 'mautic.core.searchcommand.isunpublished',
                    'label': 'mautic.core.form.inactive',
                    'tooltip': 'mautic.core.searchcommand.isunpublished.description',
                    'icon': 'ri-close-line'
                },
                {
                    'search': 'mautic.core.searchcommand.isuncategorized',
                    'label': 'mautic.core.form.uncategorized',
                    'tooltip': 'mautic.core.searchcommand.isuncategorized.description',
                    'icon': 'ri-folder-unknow-line'
                },
                {
                    'search': 'mautic.core.searchcommand.ismine',
                    'label': 'mautic.core.searchcommand.ismine.label',
                    'tooltip': 'mautic.core.searchcommand.ismine.description',
                    'icon': 'ri-user-line'
                },
                {
                    'search': 'mautic.page.searchcommand.isprefcenter',
                    'label': 'mautic.page.searchcommand.isprefcenter.label',
                    'tooltip': 'mautic.page.searchcommand.isprefcenter.description',
                    'icon': 'ri-settings-4-line'
                }
            ]
        }) }}
        <div class="page-list">
  {% endif %}

  {{ include('@MauticPage/Page/_list.html.twig') }}

  {% if isIndex %}
        </div>
    </div>

    {{ include('@MauticCore/Helper/protip.html.twig', {
      tip: random(['mautic.protip.pages.mobile', 'mautic.protip.pages.forms'])
  }) }}
  {% endif %}
{% endblock %}
