<div class="modal fade" id="gsearchModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby=""
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content gsearch--toolbar">

			<div aria-hidden="false" class="gsearch--field d-flex ai-center gap-3 pr-md pl-md pt-sm pb-sm">
				<i class="gsearch--search-magnifier ri-search-2-line ri-xl" tabindex="-1"></i>
				<input type="search" value="{{ searchString|escape }}"
					class="gsearch--field__input form-control search fs-16" id="globalSearchInput" name="global_search"
					placeholder="{% trans %}mautic.core.search_everything{% endtrans %}"
					autocomplete="false" data-toggle="livesearch" data-target="#globalSearchResults"
					data-action="{{ path('mautic_core_ajax', {action: 'globalSearch'}) }}" data-overlay="true"
					data-overlay-text="{% trans %}mautic.core.search.livesearch{% endtrans %}" />
				<span class="gsearch--field-addon">
					<kbd class="mr-2">f</kbd><kbd>/</kbd>
				</span>
			</div>

		</div>
		<!-- end modal content -->
		<!-- start results -->
		<div class="modal-content gsearch--results hide mt-xs">
			<div class="pt-0 pb-xs pl-0 pr-0">
				<div class="gsearch--results-scroll scroll-content slimscroll" id="globalSearchResults">
					{{ include('@MauticCore/GlobalSearch/results.html.twig', {results: results}) }}
				</div>
			</div>
		</div>
		<!-- end results -->
	</div>
</div>
